body {

  background-image: url("../images/wallpaper.jpg");


}

#header {
  font-family: 'Frijole', cursive;
  font-size: 112px;

}

#quiz {
  background-color: white;
  height: auto;
  width: 750px;
  padding: 40px;
  font-size: 18px;
}

#submitButton {
  background-color: teal;
  color: white;
  width: 150px;
  height: 80px;
}

#clock {
  width: 40x;
  height: 90px;
  background-color: pink;
}

#startPage{
  background-color: teal;
  margin-top: 200px;
  color: pink;
  height: 300px;
  width: 400px;
}

#startButton {
  background-color: white;
  color: teal;
  width: 200px;
  height: 60px;
}

#results {
  background-color: teal;
  font-size: 35px;
  margin-top: 200px;
  color: pink;
  height: 350px;
  width: 450px;
}
